body {
    background-image: url(../images/dashboard-background.jpg);
    background-repeat: no-repeat;
    background-image: auto;

}
#infograf1{
    color: #d70206;
    padding: 20px;
}
.titlebar {
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    height: 75px;
}


.buttons {
    height: 100%;
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.button {
    height: 60%;
}

#logout-button {
    margin-left: 35px;
}
.logo_nav{
    height: 10px;
}

/* Dasboard widget styling down below*/

#dashboard {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas:
        "header header header"
        "water gas gas"
        "water energie weer "
        "invoer invoer tijd";
   border-radius: 20px;
   height: 100vh;
}

.energie{

    grid-area: energie;
    height: 32vh;
    border-radius: 25px;
    background-color: antiquewhite;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.water{
  grid-area: water;
  border-radius: 25px;
    font-size: 20px;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
}
.gas{
    grid-area: gas;
    height: 25vh;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
}

.invoer{
    grid-area: invoer;
    height: 30vh;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
}

.tijd{
    grid-area: tijd;
    border-radius: 25px;
    color: white;
    background-color: seashell;
}
.titlebar{
    grid-area: header;
    height: 65px;
}
.weer{
  grid-area: weer;
  border-radius: 25px;
  font-size: 20px;
  text-align: center;
  padding-top:20px;
  padding-bottom: 20px;
  
}

#dashboard  .widget {
    background-color: white;

}

h1{
    color: #121212;
    text-align: center;
}


#clock {
  font-family: 'Orbitron', sans-serif;
  color: #121212;
  font-size: 76px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.imgs{
    padding-top: 25px;
}
.square1 {
  height: 20px;
  width: 20px;
  background-color: #d70206;
  align-items: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.square2 {
  height: 20px;
  width: 20px;
  background-color: #f05b4f;
  margin: auto;
  width: 50%;
  padding: 10px;
}

@media only screen and (max-width: 765px) {


#dashboard{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "energie energie"
        "invoer gas "
        "water tijd";
    border-radius: 20px;
    }
.buttons {
    height: 75%;
    margin-left: auto;
    margin-right: 40px;
    text-size-adjust: 20px;

}

}

#clock{
  font-size: 50px;

}
.gas{
  font-size: 20px;
  text-align: center;
  padding-top:20px;
  padding-bottom: 20px;
}


